* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.notes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
}
.el {
  border-radius: 20px;
}
@supports (mask-image: paint(smooth-corners)) {
  .el.is-loaded {
    border-radius: 0;
    mask-image: paint(smooth-corners);
    --smooth-corners: 10;
  }
}
